framework: netcoreapp2.2

source https://api.nuget.org/v3/index.json
nuget FSharp.Core
nuget ConsoleStyle >= 1.2
nuget Gelf.Extensions.Logging >= 1.5
nuget FSharp.Data >= 3.0

git ssh://git@stash.int.lmc.cz:7999/archi/nuget-server.git master Packages: /nuget/
# LMC Nuget dependencies:
nuget Lmc.ErrorHandling >= 1.1
nuget Lmc.ServiceIdentification >= 2.5

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
